<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>工资</string>
		<key>imageName</key>
		<string>工资normal</string>
		<key>highImageName</key>
		<string>工资high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>投资</string>
		<key>imageName</key>
		<string>工资normal</string>
		<key>highImageName</key>
		<string>工资high</string>
	</dict>
	<dict>
		<key>name</key>
		<string>红包</string>
		<key>imageName</key>
		<string>工资normal</string>
		<key>highImageName</key>
		<string>工资high</string>
	</dict>
</array>
</plist>
